All day event example

I was unable to create an all-day event using code or the generators. Leaving the end date blank did not work when imported into the mac calendar. How can I create an ics file with an all-day event that would work on most platforms?

Thank you.

![image](https://user-images.githubusercontent.com/204049/120925825-053ec980-c6a0-11eb-9382-6c1fc3efd595.png)



Minimal repro:

```
let options = {
  title: "all-day event test",
  description: "test description",
  start: new Date('2021-06-06'),
}
const icalendar = new datebook.ICalendar(options)
icalendar.download()
```

Nevermind, looks like date is defaulting to the current date with timestamp. Will find a way to remove the time.

Hi @asunar - yes you are correct, all-day events will have an end time to 24 hours after the `start` specified for iCalendar, as per [Section 3.6.1 of RFC 5545](https://datatracker.ietf.org/doc/html/rfc5545#page-54):

> For cases where a "VEVENT" calendar component specifies a "DTSTART" property with a DATE-TIME value type but no "DTEND" property, the event **ends on the same calendar date and time of day specified by the "DTSTART" property**.